/* Space out content a bit */
body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;
  font-size: 16px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}*/
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: #2980B9;
  color: white;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  text-shadow: 2px 2px #1F5F8A;
  font-weight: 300;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-weight: 900;
  text-shadow: 5px 5px #1F5F8A;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
  color: white;
  text-shadow: none;
  background-color: #1F5F8A;
  border-color: #2C3E50;
}

.jumbotron .label {
  text-shadow: none;
}

.jumbotron a {
  color: white;
  font-weight: bold;
}

.jumbotron img {
  border: 7px solid #1F5F8A;
  border-radius: 50%;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Custom */

img {
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.subtitle {
  color: #ccc;
}

.post-link {
  color: #555;
}

.post-link:hover {
  text-decoration: none;
}

.top-space { margin-top: 40px; }
.extra-top-space { margin-top: 70px; }

.label-line { background-color: white; color: #5cb85c; border: 1px solid #5cb85c }

.circle-profile {
    border: 2px solid #1F5F8A;
    -webkit-border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    margin-top: -170px;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.5, 0.5); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(0.8, 0.8); opacity: 0.0;}
}

/* custom */
h1 {
  font-size: 48px;
  font-weight: normal;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 40px;
}

blockquote {
  color: #AAA;
}

pre {
  border: none;
  word-wrap: normal;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

.latest-blog {
  background-color: #EEE;
}

.index-h2 {
  color: #aaa;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 30px;
}

/* label */

.label-default {
  background-color: #2C3E50;
}

.label-warning {
  background-color: #E74C3C;
}

.label-primary {
  background-color: #54409E;
}

/* nav bar */
.navbg {
  background-color: #1F5F8A;
}

.navbar {
  border: none;
  margin-bottom: 0px;
  background-color: transparent;
  border-radius: 0px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;

}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #2980B9;
}
