/* Space out content a bit */
html, body {
  height: 100%;
  background-color: rgb(44, 50, 56);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#main {
  overflow:auto;
  padding-bottom: 0px; /* this needs to be bigger than footer height*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding: 19px;
  height: 60px;
  margin-top: 100px;
  clear:both;
}

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}*/
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: transparent;
  text-align: center;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-weight: 700;
}

.jumbotron p {
  font-size: 24px;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
  text-shadow: none;
  font-weight: normal;
  background-color: transparent;
  border: solid 1px;
  border-radius: 30px;
}

.jumbotron .btn:hover {
  background-color: rgb(63, 179, 125);
}

.jumbotron .label {
  text-shadow: none;
}

.jumbotron a {
  font-weight: bold;
  color: white;
}

.jumbotron img {
  border-radius: 50%;
  margin-top: -235px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing a:hover {
  text-decoration: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Custom */

img {
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.subtitle {
  color: #aaa;
  font-size: 15px;
  font-weight: 300;
}

.post-link {
  color: white;
  max-lines: 2;
}

.top-space { margin-top: 40px; }
.extra-top-space { margin-top: 70px; }

.circle-profile {
  margin-top: 20px;
  border: 2px solid rgb(63, 179, 125);
  -webkit-border-radius: 50%;
  height: 200px;
  width: 200px;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.4, 1.4); opacity: 0.0;}
}

a {
  color: rgb(63, 179, 125);
}

a:hover {
  color: rgb(63, 179, 125);
}

h1 {
  font-size: 48px;
  font-weight: normal;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 40px;
}

blockquote {
  color: #AAA;
}

pre {
  border: none;
  word-wrap: normal;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

.latest-blog {
  /*background-color: #EEE;*/
}

.index-h2 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 30px;
  min-height: 90px;
  padding: 10px 15px 10px 15px;
}

.card:hover {
  background-color: rgba(134, 134, 134, 0.4);
  border-radius: 5px;
}

.glyphicon {
  top: 0px;
}

@media(max-width:767px){
  .collapse-hide {
      display: none !important;
  }
}

/* label */

.label-default {
  background-color: #2C3E50;
}

.label-warning {
  background-color: #E74C3C;
}

.label-primary {
  background-color: #54409E;
}

.label-info { 
  background-color: #777;
}

/* nav bar */
.navbg {
  /* background-color: rgb(37, 37, 37); */
}

.navbar {
  border: none;
  margin-bottom: 0px;
  background-color: transparent;
  border-radius: 0px;
}

.navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: rgb(63, 179, 125);
}

.navbar-nav > li > a {
  color: white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: rgb(63, 179, 125);
}
