---
layout: index
title: ZOONREF
---

<div class="jumbotron">
  <div>
    <center><p class="circle-profile"/></center>
    <img src="img/zoonooz.png" width="200"/>
  </div>
  <h1 class="hello-container">
    <div class="hello">
      <div>Hi!</div>
      <div>สวัสดี!</div>
      <div>こんにちは!</div>
      <div>Hi!</div>
    </div>
  </h1>
  <br/>
  <p class="lead">
    👋 I am Amornchai, Software Engineer living in Bangkok😊.
    <br/>Previously lived in Tokyo🗼 and Singapore🦁.
    <br/>Currently I am developing Android applications🚕 <a href="http://www.grab.com/">@Grab</a>
    <br/>tweet <a href="http://www.twitter.com/zoonref">@zoonref</a> code <a href="http://github.com/zoonooz">@github</a> and looking for connections <a href="http://th.linkedin.com/in/zoonref/">@linkedin</a>
  </p>
  <br/>
  <br/>
  <p>
    <a class="btn btn-lg btn-default" href="mailto:zoonref@gmail.com" role="button">✉️ Contact me</a>
    <a class="btn btn-lg btn-default" href="files/resume.pdf" target="_blank" role="button" onclick="_gaq.push(['_trackEvent','Download','PDF',this.href]);">👔 Resume</a>
  </p>
  <br/>
  <br/>
</div>

<div class="container">
  <div class="row marketing">
    <div class="col-lg-12">
      <div class="col-lg-12">
        <h2 class="index-h2">Portfolio</h2>
      </div>
      {% for post in site.categories.portfolio %}
      <a href="{{ post.url }}">
        <div class="col-lg-4 col-md-6 card">
          <h4><p class="post-link">{{ post.title }}</p></h4>
          <p class="subtitle">
            {% for platform in post.platform %}
              {% if platform == "android" %}
              <span class="label label-success">
              {% elsif platform == "ios" or platform == "osx" %}
              <span class="label label-default">
              {% elsif platform == "windows" %}
              <span class="label label-primary">
              {% elsif platform == "other" %}
              <span class="label label-info">
              {% elsif platform == "web" %}
              <span class="label label-warning">
              {% endif %}
                {{ platform }}</span>&nbsp;
            {% endfor %}
            {% for social in post.social %}
              {{ social }}
            {% endfor %}
             ●
            {{ post.date | date_to_string }}</p>
        </div>
      </a>
      {% cycle '', '', '<div class="clearfix visible-lg-block"></div>'  %}
      {% endfor %}
    </div>
  </div>

</div> <!-- /container -->

<div class="latest-blog">
  <div class="container">
    <div class="row marketing">
      <div class="col-lg-12">

        <div class="col-lg-12">
          <h2 class="index-h2">Latest Blog</h2>
        </div>

        {% for post in site.categories.blog limit:2 %}
        <a href="{{ post.url }}">
          <div class="col-lg-4 col-md-6 card">
            <h4><p class="post-link">{{ post.title }}</p></h4>
            <p class="subtitle">
              {% for tag in post.tag %}
                <span class="label label-default">{{ tag }}</span>&nbsp;
              {% endfor %}
               ●
              {{ post.date | date_to_string }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>