---
layout: default
title: ZOONREF
---


<div class="jumbotron">
  <div>
    <img src="img/zoonooz.png" width="100"/>
    <center><div class="circle-profile"></div></center>
  </div>
  <h1>ZOON</h1>
  <p class="lead">Mobile Developer, Android iOS WindowsPhone. Develops all mobile and server-side <a href="http://www.dezainwerkz.com/">@dezainwerkz</a></p>
  <p><a class="btn btn-lg btn-default" href="mailto:zoonref@gmail.com" role="button">Contact me</a></p>
</div>

<div class="row">
  <div class="col-lg-12">
    <ul id="content-tab" class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a href="#work" role="tab" data-toggle="tab">Work</a></li>
      <li><a href="#blog" role="tab" data-toggle="tab">Blog</a></li>
    </ul>
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-12">
    <div class="tab-content">
      <div class="tab-pane active" id="work">
        {% for post in site.categories.portfolio %}
          <div>
            <h4><a href="{{ post.url }}" class="post-link">{{ post.title }}</a></h4>
            <p class="subtitle">
              {% for platform in post.platform %}
                {% if platform == "android" %}
                <span class="label label-success">
                {% elsif platform == "ios" or platform == "osx" %}
                <span class="label label-default">
                {% elsif platform == "windows" %}
                <span class="label label-primary">
                {% elsif platform == "line" %}
                <span class="label label-line">
                {% elsif platform == "web" %}
                <span class="label label-warning">
                {% endif %}
                  {{ platform }}</span>&nbsp;
              {% endfor %}
              {% for social in post.social %}
                {{ social }}
              {% endfor %}
               ●
              {{ post.date | date_to_string }}</p>
          </div>
          <br/>
        {% endfor %}
      </div>
      <div class="tab-pane" id="blog">
        {% for post in site.categories.blog %}
          <div>
            <h4><a href="{{ post.url }}" class="post-link">{{ post.title }}</a></h4>
            <p class="subtitle">
              {% for tag in post.tag %}
                <span class="label label-default">{{ tag }}</span>&nbsp;
              {% endfor %}
               ●
              {{ post.date | date_to_string }}</p>
          </div>
          <br/>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
