---
layout: index
title: ZOONREF
---

<div class="container">

  <div class="row marketing">
    <div class="col-lg-12">
      <div class="tab-pane" id="blog">
        {% for post in site.categories.blog %}
          <div>
            <h4><a href="{{ post.url }}" class="post-link">{{ post.title }}</a></h4>
            <p class="subtitle">
              {% for tag in post.tag %}
                <span class="label label-default">{{ tag }}</span>&nbsp;
              {% endfor %}
               ●
              {{ post.date | date_to_string }}</p>
          </div>
          <br/>
        {% endfor %}
      </div>
    </div>
  </div>

</div> <!-- /container -->
